.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.993164;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls4d{letter-spacing:0.018144px;}
.ls4{letter-spacing:0.038976px;}
.ls8{letter-spacing:0.053568px;}
.lsb{letter-spacing:0.077376px;}
.ls5{letter-spacing:0.098208px;}
.ls1d{letter-spacing:0.127872px;}
.ls34{letter-spacing:0.133824px;}
.ls29{letter-spacing:0.137760px;}
.ls3{letter-spacing:0.139872px;}
.ls7{letter-spacing:0.142848px;}
.ls6{letter-spacing:0.151776px;}
.ls47{letter-spacing:0.152064px;}
.lsa{letter-spacing:0.157728px;}
.ls2e{letter-spacing:0.173184px;}
.ls48{letter-spacing:0.177408px;}
.ls23{letter-spacing:0.184992px;}
.ls41{letter-spacing:0.195360px;}
.ls31{letter-spacing:0.200736px;}
.ls2a{letter-spacing:0.212544px;}
.ls10{letter-spacing:0.216000px;}
.ls3b{letter-spacing:0.220224px;}
.ls9{letter-spacing:0.226176px;}
.ls38{letter-spacing:0.227328px;}
.lsc{letter-spacing:0.233280px;}
.ls45{letter-spacing:0.240096px;}
.ls3a{letter-spacing:0.241536px;}
.ls2{letter-spacing:0.254976px;}
.ls2b{letter-spacing:0.255840px;}
.ls43{letter-spacing:0.263712px;}
.ls39{letter-spacing:0.273504px;}
.ls19{letter-spacing:0.277056px;}
.ls4e{letter-spacing:0.279456px;}
.ls37{letter-spacing:0.287712px;}
.ls2c{letter-spacing:0.291264px;}
.ls18{letter-spacing:0.298080px;}
.ls4a{letter-spacing:0.303072px;}
.ls1a{letter-spacing:0.305472px;}
.ls4b{letter-spacing:0.307008px;}
.ls44{letter-spacing:0.318816px;}
.lsf{letter-spacing:0.332640px;}
.ls16{letter-spacing:0.335808px;}
.ls1c{letter-spacing:0.344544px;}
.ls27{letter-spacing:0.350304px;}
.ls46{letter-spacing:0.361152px;}
.ls35{letter-spacing:0.362112px;}
.ls2f{letter-spacing:0.362304px;}
.ls15{letter-spacing:0.367200px;}
.ls4c{letter-spacing:0.373920px;}
.ls26{letter-spacing:0.377856px;}
.ls1{letter-spacing:0.382464px;}
.ls33{letter-spacing:0.385728px;}
.ls40{letter-spacing:0.390720px;}
.ls36{letter-spacing:0.409344px;}
.ls22{letter-spacing:0.413280px;}
.ls3d{letter-spacing:0.414720px;}
.ls17{letter-spacing:0.418176px;}
.ls1e{letter-spacing:0.422688px;}
.ls1b{letter-spacing:0.440448px;}
.ls28{letter-spacing:0.440832px;}
.ls49{letter-spacing:0.456576px;}
.ls3f{letter-spacing:0.458208px;}
.ls25{letter-spacing:0.464448px;}
.ls11{letter-spacing:0.466560px;}
.ls30{letter-spacing:0.480192px;}
.lse{letter-spacing:0.483840px;}
.ls1f{letter-spacing:0.518400px;}
.ls2d{letter-spacing:0.535296px;}
.ls3c{letter-spacing:0.535680px;}
.ls14{letter-spacing:0.552960px;}
.ls21{letter-spacing:0.562848px;}
.ls42{letter-spacing:0.570240px;}
.ls12{letter-spacing:0.578880px;}
.ls32{letter-spacing:0.586464px;}
.ls24{letter-spacing:0.598272px;}
.ls3e{letter-spacing:0.613440px;}
.ls13{letter-spacing:0.699840px;}
.ls20{letter-spacing:0.717120px;}
.lsd{letter-spacing:0.734400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.040352px;}
._0{width:1.008744px;}
._2{width:6.093840px;}
.fc4{color:rgb(93,93,93);}
.fc0{color:rgb(46,116,181);}
.fc2{color:rgb(51,51,51);}
.fc1{color:rgb(0,0,0);}
.fc3{color:rgb(255,255,255);}
.fsa{font-size:25.920000px;}
.fs1{font-size:27.840000px;}
.fs2{font-size:29.760000px;}
.fs6{font-size:31.680000px;}
.fs9{font-size:33.600000px;}
.fs5{font-size:35.520000px;}
.fs8{font-size:39.360000px;}
.fs7{font-size:41.280000px;}
.fs3{font-size:43.200000px;}
.fs4{font-size:63.360000px;}
.fs0{font-size:159.360000px;}
.y47{bottom:2.160000px;}
.y31{bottom:5.280000px;}
.y1e{bottom:6.000000px;}
.y15{bottom:6.240000px;}
.y3c{bottom:7.200000px;}
.y29{bottom:8.160000px;}
.y25{bottom:8.400000px;}
.y33{bottom:12.240000px;}
.y30{bottom:16.320000px;}
.y46{bottom:16.560000px;}
.y48{bottom:18.840020px;}
.y24{bottom:19.680000px;}
.y14{bottom:20.400000px;}
.y3b{bottom:21.360000px;}
.y42{bottom:21.840000px;}
.y28{bottom:22.560000px;}
.y38{bottom:24.960000px;}
.y32{bottom:26.160000px;}
.y2f{bottom:27.120000px;}
.y44{bottom:30.719980px;}
.y23{bottom:30.720000px;}
.y1b{bottom:31.200000px;}
.y2b{bottom:31.440000px;}
.y45{bottom:33.119880px;}
.y41{bottom:33.839980px;}
.y2c{bottom:34.320000px;}
.y13{bottom:34.560000px;}
.y3a{bottom:35.520000px;}
.y37{bottom:36.000000px;}
.y27{bottom:36.720000px;}
.y2e{bottom:39.600000px;}
.y1{bottom:41.000000px;}
.y22{bottom:41.760000px;}
.y1a{bottom:42.480000px;}
.y43{bottom:44.879980px;}
.y40{bottom:45.599980px;}
.y36{bottom:48.240000px;}
.y1d{bottom:48.480000px;}
.y12{bottom:48.720000px;}
.y39{bottom:49.440000px;}
.y26{bottom:50.880000px;}
.y21{bottom:52.800000px;}
.y19{bottom:53.520000px;}
.y3f{bottom:58.079980px;}
.y1c{bottom:62.640000px;}
.y11{bottom:62.880000px;}
.y20{bottom:64.080000px;}
.y18{bottom:64.560000px;}
.y3e{bottom:69.680020px;}
.yd{bottom:73.680000px;}
.y17{bottom:75.840000px;}
.y10{bottom:76.800000px;}
.yc{bottom:84.960000px;}
.yf{bottom:90.960000px;}
.yb{bottom:96.000000px;}
.y3d{bottom:101.640000px;}
.ye{bottom:105.120000px;}
.ya{bottom:107.040000px;}
.y9{bottom:118.320000px;}
.y0{bottom:141.500000px;}
.y35{bottom:158.480000px;}
.y34{bottom:180.600000px;}
.y2d{bottom:237.440000px;}
.y2a{bottom:288.080000px;}
.y1f{bottom:374.960000px;}
.y16{bottom:450.080000px;}
.y8{bottom:536.960000px;}
.y7{bottom:629.160000px;}
.y6{bottom:648.840000px;}
.y5{bottom:662.520000px;}
.y4{bottom:677.400000px;}
.y3{bottom:698.040000px;}
.y2{bottom:718.440000px;}
.h12{height:20.351250px;}
.h4{height:22.378125px;}
.h9{height:26.640000px;}
.ha{height:29.596875px;}
.hb{height:30.903750px;}
.hd{height:31.040625px;}
.h6{height:32.484375px;}
.h5{height:33.918750px;}
.h7{height:49.747500px;}
.hf{height:50.640000px;}
.h10{height:59.280000px;}
.h11{height:69.120000px;}
.he{height:75.120000px;}
.hc{height:86.880000px;}
.h3{height:125.122500px;}
.h8{height:129.360000px;}
.h1{height:529.000000px;}
.h2{height:783.000000px;}
.h0{height:842.000000px;}
.w7{width:125.520000px;}
.w5{width:127.680000px;}
.w3{width:128.640000px;}
.w6{width:321.360000px;}
.w8{width:325.200000px;}
.w4{width:325.440000px;}
.w1{width:388.500000px;}
.w2{width:559.000000px;}
.w0{width:595.000000px;}
.x9{left:-0.970000px;}
.x7{left:0.830050px;}
.xa{left:5.830000px;}
.xc{left:6.979900px;}
.xb{left:13.780000px;}
.xd{left:14.929900px;}
.x1{left:18.000000px;}
.x5{left:53.149900px;}
.x3{left:54.550050px;}
.x10{left:59.625500px;}
.x11{left:65.474800px;}
.x6{left:70.800000px;}
.xe{left:72.000000px;}
.x2{left:80.461670px;}
.x4{left:82.350100px;}
.x0{left:134.500000px;}
.xf{left:196.800000px;}
.x8{left:199.440000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4d{letter-spacing:0.024192pt;}
.ls4{letter-spacing:0.051968pt;}
.ls8{letter-spacing:0.071424pt;}
.lsb{letter-spacing:0.103168pt;}
.ls5{letter-spacing:0.130944pt;}
.ls1d{letter-spacing:0.170496pt;}
.ls34{letter-spacing:0.178432pt;}
.ls29{letter-spacing:0.183680pt;}
.ls3{letter-spacing:0.186496pt;}
.ls7{letter-spacing:0.190464pt;}
.ls6{letter-spacing:0.202368pt;}
.ls47{letter-spacing:0.202752pt;}
.lsa{letter-spacing:0.210304pt;}
.ls2e{letter-spacing:0.230912pt;}
.ls48{letter-spacing:0.236544pt;}
.ls23{letter-spacing:0.246656pt;}
.ls41{letter-spacing:0.260480pt;}
.ls31{letter-spacing:0.267648pt;}
.ls2a{letter-spacing:0.283392pt;}
.ls10{letter-spacing:0.288000pt;}
.ls3b{letter-spacing:0.293632pt;}
.ls9{letter-spacing:0.301568pt;}
.ls38{letter-spacing:0.303104pt;}
.lsc{letter-spacing:0.311040pt;}
.ls45{letter-spacing:0.320128pt;}
.ls3a{letter-spacing:0.322048pt;}
.ls2{letter-spacing:0.339968pt;}
.ls2b{letter-spacing:0.341120pt;}
.ls43{letter-spacing:0.351616pt;}
.ls39{letter-spacing:0.364672pt;}
.ls19{letter-spacing:0.369408pt;}
.ls4e{letter-spacing:0.372608pt;}
.ls37{letter-spacing:0.383616pt;}
.ls2c{letter-spacing:0.388352pt;}
.ls18{letter-spacing:0.397440pt;}
.ls4a{letter-spacing:0.404096pt;}
.ls1a{letter-spacing:0.407296pt;}
.ls4b{letter-spacing:0.409344pt;}
.ls44{letter-spacing:0.425088pt;}
.lsf{letter-spacing:0.443520pt;}
.ls16{letter-spacing:0.447744pt;}
.ls1c{letter-spacing:0.459392pt;}
.ls27{letter-spacing:0.467072pt;}
.ls46{letter-spacing:0.481536pt;}
.ls35{letter-spacing:0.482816pt;}
.ls2f{letter-spacing:0.483072pt;}
.ls15{letter-spacing:0.489600pt;}
.ls4c{letter-spacing:0.498560pt;}
.ls26{letter-spacing:0.503808pt;}
.ls1{letter-spacing:0.509952pt;}
.ls33{letter-spacing:0.514304pt;}
.ls40{letter-spacing:0.520960pt;}
.ls36{letter-spacing:0.545792pt;}
.ls22{letter-spacing:0.551040pt;}
.ls3d{letter-spacing:0.552960pt;}
.ls17{letter-spacing:0.557568pt;}
.ls1e{letter-spacing:0.563584pt;}
.ls1b{letter-spacing:0.587264pt;}
.ls28{letter-spacing:0.587776pt;}
.ls49{letter-spacing:0.608768pt;}
.ls3f{letter-spacing:0.610944pt;}
.ls25{letter-spacing:0.619264pt;}
.ls11{letter-spacing:0.622080pt;}
.ls30{letter-spacing:0.640256pt;}
.lse{letter-spacing:0.645120pt;}
.ls1f{letter-spacing:0.691200pt;}
.ls2d{letter-spacing:0.713728pt;}
.ls3c{letter-spacing:0.714240pt;}
.ls14{letter-spacing:0.737280pt;}
.ls21{letter-spacing:0.750464pt;}
.ls42{letter-spacing:0.760320pt;}
.ls12{letter-spacing:0.771840pt;}
.ls32{letter-spacing:0.781952pt;}
.ls24{letter-spacing:0.797696pt;}
.ls3e{letter-spacing:0.817920pt;}
.ls13{letter-spacing:0.933120pt;}
.ls20{letter-spacing:0.956160pt;}
.lsd{letter-spacing:0.979200pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.387136pt;}
._0{width:1.344992pt;}
._2{width:8.125120pt;}
.fsa{font-size:34.560000pt;}
.fs1{font-size:37.120000pt;}
.fs2{font-size:39.680000pt;}
.fs6{font-size:42.240000pt;}
.fs9{font-size:44.800000pt;}
.fs5{font-size:47.360000pt;}
.fs8{font-size:52.480000pt;}
.fs7{font-size:55.040000pt;}
.fs3{font-size:57.600000pt;}
.fs4{font-size:84.480000pt;}
.fs0{font-size:212.480000pt;}
.y47{bottom:2.880000pt;}
.y31{bottom:7.040000pt;}
.y1e{bottom:8.000000pt;}
.y15{bottom:8.320000pt;}
.y3c{bottom:9.600000pt;}
.y29{bottom:10.880000pt;}
.y25{bottom:11.200000pt;}
.y33{bottom:16.320000pt;}
.y30{bottom:21.760000pt;}
.y46{bottom:22.080000pt;}
.y48{bottom:25.120027pt;}
.y24{bottom:26.240000pt;}
.y14{bottom:27.200000pt;}
.y3b{bottom:28.480000pt;}
.y42{bottom:29.120000pt;}
.y28{bottom:30.080000pt;}
.y38{bottom:33.280000pt;}
.y32{bottom:34.880000pt;}
.y2f{bottom:36.160000pt;}
.y44{bottom:40.959973pt;}
.y23{bottom:40.960000pt;}
.y1b{bottom:41.600000pt;}
.y2b{bottom:41.920000pt;}
.y45{bottom:44.159840pt;}
.y41{bottom:45.119973pt;}
.y2c{bottom:45.760000pt;}
.y13{bottom:46.080000pt;}
.y3a{bottom:47.360000pt;}
.y37{bottom:48.000000pt;}
.y27{bottom:48.960000pt;}
.y2e{bottom:52.800000pt;}
.y1{bottom:54.666667pt;}
.y22{bottom:55.680000pt;}
.y1a{bottom:56.640000pt;}
.y43{bottom:59.839973pt;}
.y40{bottom:60.799973pt;}
.y36{bottom:64.320000pt;}
.y1d{bottom:64.640000pt;}
.y12{bottom:64.960000pt;}
.y39{bottom:65.920000pt;}
.y26{bottom:67.840000pt;}
.y21{bottom:70.400000pt;}
.y19{bottom:71.360000pt;}
.y3f{bottom:77.439973pt;}
.y1c{bottom:83.520000pt;}
.y11{bottom:83.840000pt;}
.y20{bottom:85.440000pt;}
.y18{bottom:86.080000pt;}
.y3e{bottom:92.906693pt;}
.yd{bottom:98.240000pt;}
.y17{bottom:101.120000pt;}
.y10{bottom:102.400000pt;}
.yc{bottom:113.280000pt;}
.yf{bottom:121.280000pt;}
.yb{bottom:128.000000pt;}
.y3d{bottom:135.520000pt;}
.ye{bottom:140.160000pt;}
.ya{bottom:142.720000pt;}
.y9{bottom:157.760000pt;}
.y0{bottom:188.666667pt;}
.y35{bottom:211.306667pt;}
.y34{bottom:240.800000pt;}
.y2d{bottom:316.586667pt;}
.y2a{bottom:384.106667pt;}
.y1f{bottom:499.946667pt;}
.y16{bottom:600.106667pt;}
.y8{bottom:715.946667pt;}
.y7{bottom:838.880000pt;}
.y6{bottom:865.120000pt;}
.y5{bottom:883.360000pt;}
.y4{bottom:903.200000pt;}
.y3{bottom:930.720000pt;}
.y2{bottom:957.920000pt;}
.h12{height:27.135000pt;}
.h4{height:29.837500pt;}
.h9{height:35.520000pt;}
.ha{height:39.462500pt;}
.hb{height:41.205000pt;}
.hd{height:41.387500pt;}
.h6{height:43.312500pt;}
.h5{height:45.225000pt;}
.h7{height:66.330000pt;}
.hf{height:67.520000pt;}
.h10{height:79.040000pt;}
.h11{height:92.160000pt;}
.he{height:100.160000pt;}
.hc{height:115.840000pt;}
.h3{height:166.830000pt;}
.h8{height:172.480000pt;}
.h1{height:705.333333pt;}
.h2{height:1044.000000pt;}
.h0{height:1122.666667pt;}
.w7{width:167.360000pt;}
.w5{width:170.240000pt;}
.w3{width:171.520000pt;}
.w6{width:428.480000pt;}
.w8{width:433.600000pt;}
.w4{width:433.920000pt;}
.w1{width:518.000000pt;}
.w2{width:745.333333pt;}
.w0{width:793.333333pt;}
.x9{left:-1.293333pt;}
.x7{left:1.106733pt;}
.xa{left:7.773333pt;}
.xc{left:9.306533pt;}
.xb{left:18.373333pt;}
.xd{left:19.906533pt;}
.x1{left:24.000000pt;}
.x5{left:70.866533pt;}
.x3{left:72.733400pt;}
.x10{left:79.500667pt;}
.x11{left:87.299733pt;}
.x6{left:94.400000pt;}
.xe{left:96.000000pt;}
.x2{left:107.282227pt;}
.x4{left:109.800133pt;}
.x0{left:179.333333pt;}
.xf{left:262.400000pt;}
.x8{left:265.920000pt;}
}
